*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.nav-menu {
  list-style: none;
}

header {
  background: #02153f;
  padding: 0 10px;
  position: fixed;
  width: 100%;
  height: 84px;
}

nav {
  height: 100%;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.nav-item:not(:last-child) {
  margin-right: 15px;
}

.nav-item a {
  color: #FFF;
}

.container {
  padding-top: 84px;  
}

section {
  height: 500px;
  display: grid;
  place-items: center;
}

#section1 {
  background: #ff6060;
}

#section2 {
  background: #b2fd87;
}

#section3 {
  background: #62d5e4;
}

#section4 {
  background: #9e97ff;
}

#section5 {
  background: #ff96ed;
}